/* Fonts */
@font-face{
    font-family: 'IRANYekan';
    font-weight: 400;
    font-style: normal;
    src:  url('../assets/fonts/IRANYekanX-Regular.woff') format('woff');
}

@font-face {
    font-family: 'IRANYekan';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/IRANYekanX-Bold.woff') format('woff');
}


/* Body Styles */
body,
button{
    font-family: 'IRANYekan';
}